body {
        background-color: #EAF6F6;

    }

    hr {
      background-color: white;
      border-style: none
      height: 2px;
    }

    img {
      height: 120px;
    }

    h1 {
        color: #66BFBF;
    }

    h2 {
        color: #417D7A;
    }

    h3 {
        color: #1D5C63;
    }